
.content{
    float: left;
    margin-right: 80px;
  align-items: center;

}
img {
    width: 200px;
    height: 200px;
  }
 div.admin ul li a{
    background: aqua;
    margin: 5px;
  }
  div.admin{
    background-color: lightblue;
    width: 200px;
    padding: 25px;
    border: 25px solid navy;
  }