
body{
    margin: 0px;
    font-family: AmaticSC-Regular;
    background-image: url("donate.png");
    background-size: cover;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.808);
}
#judul{
    font-weight:bold ;
    font-size: 30px;
    font-family : AmaticSC-Regular;
    text-shadow: 3px 3px gray;
    color: lightskyblue;
    margin-top: 0%;
   text-align: center;
   margin-left: 400px;
   border-bottom: 3px thin grey;
   margin-top: -45px;
}
.isi h2{
    margin-left: 290px;
}
.isi{
    background-color: white;
    width: 1000px;
    height: 1300px;
    padding: 20px;
    margin-left: 160px ;
    font-family :PlayFair-Regular;
    text-align: justify;
    font-size: 16px;
}
.text{
    text-align: justify;
}
pre {
    
}
.button{
    background-color: rgb(172, 213, 240);
    border: none;
    border-radius: 10px;
    width : 80px;
    height : 70px;
    position: relative;
    margin : auto;
    margin-left : 450px;
    font-family : AmaticSC-Regular;
    font-weight: bold;
    font-size: 20px;
  }

   
  footer p{
    background-color: #2471A3;
    padding: 11px 20px;
    color:white;
    font-size: 18px;
    margin-left : -1400px;
    margin-bottom: 0px;
    text-align: center;  
    vertical-align: bottom; 
    display: block;
   margin-top: 1300px;
    bottom:0px;
    width: 1400px;
    font-family : AmaticSC-Regular;
    position: relative;
    }

   
    

    #menu{
        font-family : AmaticSC-Regular;
        border-style: soli gray;
        height : 50px ;
        background-color: #2471A3;
        margin : 0px;
        font-size: 22px;
        width: 1400px;
       }
       a.listlink {
        display: inline-block;
        text-align: center;
        color : white ;
        height : 35px;
        padding-top : 15px;
        padding-left : 15px;
        padding-right : 15px;
        padding-bottom: 35px;
        
       }
       a.listlink:hover {
        background-color:rgb(172, 213, 240);
        color :white ;
        text-decoration: none;
       }
       a.listlink:visited{
        text-decoration: none;
       }
       a.listlink:link{
        text-decoration: none;
       }
       a.listlink:active{
        text-decoration: none;
       }

@font-face{
    font-family : AmaticSC-Regular;
    src : url(fonts/AmaticSC-Regular.ttf);
  }

@font-face{
    font-family : PlayFair-Regular;
    src : url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
  }
  