    body{
        margin: 0px;

    }
    
    footer p{
    background-color: grey;
     padding: 10px 20px;
    color:white;
    margin : 0px;
    text-align: center;  
   vertical-align: middle; 
   display: block;
   position: fixed;
bottom:0px;
    }