/*

  Styling for login textBox animation & sizing
  Use for: textBox

*/
body{
  background-image: url("donate.png");
  font-family: AmaticSC-Regular;
  background-repeat: no-repeat;
  background-size: 1600px 1200px;
  height: 1100px;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p{
  font-size: 70px;
  margin : 0px;
}

.main{
  width: 500px;
  height : 1090px;
  background-color: white;
  margin-left: auto;
  margin-right : auto;
  margin-top : 45px;
  position : relative;
  text-align: center;
  border-radius: 5px;
  border : 0.5px solid rgb(211, 211, 211);
  background-color: rgba(255, 255, 255, 0.808);
}

#fp{
  text-decoration: none;
  color: black;
}

#su{
  color: black;
}

.input-group input{
  width: 100%;
  border: none;
  border-bottom: solid 4px #2471A3;
  font-size: 12px;
  line-height: normal;
  padding-bottom: 12px;
  transition: 500ms ease;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  color: black;
  background:#D4E6F1;
}

input:focus{
  outline: none;
}



input:active{
  outline: none;
}

.input-group{
  position: relative;
  width: 250px;
  margin : auto;
}


.divLogin{
  height : 360px;
}

.input-group input:focus{
  border-bottom: solid 4px blue;
}

.button{
  background-color: rgb(172, 213, 240);
  border: none;
  border-radius: 10px;
  width : 80px;
  height : 40px;
  position: relative;
  margin : auto;
  margin-left : 10px;
  font-family : AmaticSC-Regular;
  font-weight: bold;
  font-size: 20px;
}

@font-face{
  font-family : AmaticSC-Regular;
  src : url(fonts/AmaticSC-Regular.ttf);
}


