.input-group input{
  width: 100%;
  border: none;
  border-bottom: solid 4px #FF7E62;
  font-size: 12px;
  line-height: normal;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  color: black;
  background:#575BEA;
}

input:focus{
  outline: none;
}

.label-active{
  top:8px !important;
  font-size: 8px !important;
  line-height: 10px !important;
  color: white;
}

input:active{
  outline: none;
}

.input-group{
  position: relative;
  width: 260px;
}

.input-group input:focus{
  border-bottom: solid 4px #575BEA;
}

.input-group label{
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 15px;
  pointer-events: none;
  transition: 180ms ease;
}
