/*

  Styling for login textBox animation & sizing
  Use for: textBox

*/
body{
  font-family: AmaticSC-Regular;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p{
  font-size: 70px;
  margin : 0px;
}

.main{
  width: 500px;
  height : 500px;
  background-color: white;
  margin-left: auto;
  margin-right : auto;
  margin-top : 50px;
  position : relative;
  text-align: center;
  border-radius: 5px;
  border : 0.5px solid rgb(211, 211, 211);
}

.divLogin{
  margin: auto;
  overflow: auto;
  margin-left: 550px;
  margin-top: 120px;
}

#fpsu{
  text-decoration: none;
  color: black;
}

.input-group input{
  width: 100%;
  border: none;
  border-bottom: solid 4px #2471A3;
  font-size: 12px;
  line-height: normal;
  padding-bottom: 12px;
  transition: 500ms ease;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  color: black;
  background:#D4E6F1;
}

input:focus{
  outline: none;
}

.label-active{
  top:8px !important;
  font-size: 8px !important;
  line-height: 10px !important;
  color: #2471A3;
}

input:active{
  outline: none;
}

.input-group{
  position: relative;
  width: 260px;
  margin-left: 50px;
}

.input-group input:focus{
  border-bottom: solid 4px blue;
}

.input-group label{
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 15px;
  pointer-events: none;
  transition: 180ms ease;
}

@font-face{
  font-family : AmaticSC-Regular;
  src : url(fonts/AmaticSC-Regular.ttf);
}
