<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<!-- Web Title -->
	<title>Welcome, Admin!</title>
	<!-- Import CSS -->
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<!-- Import Fonts -->
	<link rel="stylesheet" type="text/css" href="../styles/font.css">
	<!-- Import Script -->
	<script type="text/javascript" src="../script/index.js"></script>
</head>
<body>
	<!-- Container -->
	<div class="container">
		<!-- Horizontal Navigation Bar -->
		<div class="main">
			<div class="logofundraiser">
				<h1>TogetherWeCan - Admin</h1>
			</div>
			<nav class="admin">
				<ul>
					<li><a href="admin.html">HOME</a></li>
					<li><a href="admin-feature/account-verification.php">ACCOUNT-VERIFICATION</a></li>
			        <li><a href="admin-feature/campaign-verification.php">CAMPAIGN-VERIFICATION</a></li>
			        <li><a href="admin-feature/donation-verification.php">DONATION-VERIFICATION</a></li>
			        <li><a href="admin-feature/donator-details.php">DONATOR-DETAILS</a></li>
			        <li><a href="admin-feature/fundraiser-details.php">FUNDRAISER-DETAILS</a></li>
				</ul>
			</nav>
		</div>
		<!-- Image Slider -->
		<div class="slider">
			<!-- Image Title -->
			<div class="title">
				<h1>Admin Only Page</h1>
				<p>----------------</p>
				<!-- Link Over Image Title -->
				<a href="admin-feature/account-verification.php" class="btn">ACCOUNT-VERIFICATION</a>
				<a href="admin-feature/campaign-verification.php" class="btn">CAMPAIGN-VERIFICATION</a>
				<a href="admin-feature/donation-verification.php" class="btn">DONATION-VERIFICATION</a>
				<a href="admin-feature/donator-details.php" class="btn">DONATOR-DETAILS</a>
				<a href="admin-feature/fundraiser-details.php" class="btn">FUNDRAISER-DETAILS</a>
			</div>
		</div>
	</div>
</body>
</html>