<!DOCTYPE html>
<html>

<head>
    <title>TogetherWeCan - CompanyProfile</title>
    <link rel="stylesheet" href="style/companyProfile.css">
    <link rel="stylesheet" href="style/slideShow.css">
    <link rel="stylesheet" href="style/Script/slide.js">
</head>

<body>
    <div class="main">

        <div class="judul">
            <p>Together We Can</p>
        </div>

        <div class="isi">
            <h2 style="color: #2471A3;"> Menghubungkan Jutaan Kebaikan</h2>
            <pre class="text" id="profil">
                    TogetherWeCan adalah wadah untuk berdonasi dan menggalang dana secara online.
                    Kami percaya, kemajuan teknologi sepatutnya dimanfaatkan untuk menghubungkan 
                    semangat kebaikan dan gotong-royong. 
                    Di TogetherWeCan, masyarakat bisa menggalang dana untuk berbagai hal yang 
                    mereka perjuangkan maupun berdonasi untuk hal yang ingin mereka bantu.
                </pre>

            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="style/banjir.jpg" style="width:100%">
                    <div class="text1">Mari Kita bantu Korban banjir</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="style/apd.jpg" style="width:100%">
                    <div class="text1">Mari kita sumbang apd</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="style/ojol.png" style="width:100%">
                    <div class="text1">Mari bantu ojol</div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <h2 id="visi" style="color: #2471A3;">Visi</h2>
            <pre class="text">
                Visi kami adalah Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, voluptas? Molestias
                ullam vitae consequatur repellat tempora, provident inventore voluptas, modi, quam aliquid autem? Ex
                porro atque corrupti eligendi quidem deserunt?
            </pre>

            <h2 id="misi" style="color: #2471A3;">Misi</h2>
            <pre class="text">
                Misi kami adalah Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex repellendus itaque
                temporibus vel alias! Modi, molestiae laborum officia enim aperiam quo inventore eos a, beatae voluptate
                atque minima voluptates tempora?
            </pre>

            <button class="button" onclick="window.location.href ='registration.html'">Mari jadi orang baik</button>
        </div>



    </div>

    <footer>
        <p>Company © TogetherWeCan. All rights reserved.</p>
    </footer>

</body>
<script src="../View/style/Script/slide.js"></script>
</html>