<!DOCTYPE html>

<head>
    <title>TogetherWeCan - CompanyProfile</title>
    <link rel="stylesheet" href="style/companyProfile.css">
    


</head>

<body>
    <div class="main">
        <div class="judul">
            <p>Together We Can</p>
        </div>
        <div class="isi">
            <h2 style="color: #2471A3;"> Menghubungkan Jutaan Kebaikan</h2>
            <pre class="text">
                TogetherWeCan adalah wadah untuk berdonasi dan menggalang dana secara online.
                Kami percaya, kemajuan teknologi sepatutnya dimanfaatkan untuk menghubungkan 
                semangat kebaikan dan gotong-royong. 
                Di TogetherWeCan, masyarakat bisa menggalang dana untuk berbagai hal yang 
                mereka perjuangkan maupun berdonasi untuk hal yang ingin mereka bantu.
            </pre>
            <button class="button"><a href="home.php"></a> Mari jadi orang baik</button>
        </div>
    </div>
    <footer>
        <p>Company © TogetherWeCan. All rights reserved.</p>
    </footer>
</body>



</html>
