<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    
    <meta charset="utf-8">

    <title>TogetherWeCan - Lupa Password</title>

    <link rel="stylesheet" href="style/forgotPasswordStyle.css">

  </head>

  <body>

    <div class="main">

      <p>TogetherWeCan !</p>

      <hr>

      <h1 style="margin-left: 10px;">Lupa Password</h1>

      <br>

      <div class="divLogin">

        <form method="post" action="../Controller/forgotPassword.php">
          
    
            <h4 style="color:black;margin-left: 52.5px;">Enter your registered recovery email in <br> TogetherWeCan <br> we'll send you a link for reset password</h4>
    
    
            <div class="input-group">
    
              <label id="label-1">email</label>
              <input onkeyup="checkLabel('label-1',this)" onkeydown="checkLabel('label-1',this)"
              id="input-1" type="text" name="email" required>
    
            </div>
    
            <br>
    
            <div>
              <input class="button" type="submit" value="send email">
            </div>
    
          
          <br>
        </form>
    
        <script src="../View/style/Script/login.js"></script>
    
  </body>

</html>
