<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>forgot password</title>

    <link rel="stylesheet" href="style/forgotPasswordStyle.css">
    <link rel="stylesheet" href="style/forgotPasswordButton.css">



  </head>

  <body style="background-image : url('style/fund.png')">
    <form method="post" action="../Controller/forgotPassword.php">
      <div class="divLogin">

        <h4 style="color:black;margin-left: 52.5px;">Enter your registered recovery email in <br> TogetherWeCan <br> we'll send you a link for reset password</h4>


        <div class="input-group">

          <label id="label-1">email</label>
          <input onkeyup="checkLabel('label-1',this)" onkeydown="checkLabel('label-1',this)"
          id="input-1" type="text" name="email" required>

        </div>

        <br>

        <div>
          <input class="button" type="submit" value="send email">
        </div>

      </div>
      <br>
    </form>

    <script src="../View/style/Script/login.js"></script>
  </body>
</html>
