<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Fundraiser - new project</title>

  <link rel="stylesheet" href="../View/style/fundraiserNewProject.css">
  <link rel="stylesheet" href="../View/style/defaultButton.css">



</head>

<body style="background-image : url('style/fund.png')">

  <form method="post" action="../Controller/userController/fundraiserUser/fundraiserAddNewProject.php">
    <div class="main">

      <div class="input">

        <fieldset>
          <legend>Campaign Information</legend>
          <table id="campaignDetails"></table>
          <tr>
            <td><label>Nama campaign : </label></td>
            <td><input type="text" id="nama"></td>
          </tr>
          <br>
          <tr>
            <td><label>Tanggal mulai campaign : </label></td>
            <td><input type="date" id="tanggal" value="dd/mm/yyyy"></td>
          </tr>
          <br>
          <tr>
            <td><label>Jenis campaign : </label></td>
            <td><select id="tipe" name="type"><br>
                <option value="bencana alam">bencana alam</option>
                <option value="orang sakit">orang sakit</option>
                <option value="lainnya">lainnya</option>
              </select></td>
          </tr>
          <br>
            <td><label>fundTarget : </label></td>
            <td><input type="number" id="fundTarget" name="fundTarget"></td>
            <br>
            <td><label>Alamat : </label></td>
            <td><input type="text" id="address" name="address"></td>
            <br>
            <td><label>KTP : </label></td>
            <td><input type="text" id="ktp" name="ktp"></td>
            <br>
            <td><label>Telepon : </label></td>
            <td><input type="number" id="phone" name="phone"></td>
            <br>
            <td><label>Keterangan : </label></td>
            <td><input type="text" id="keterangan" name="story"></td>
          </tr>
          <br>
            <label for="gambarCampaign">Tambahkan gambar untuk lebih meyakinkan para donatur</label>
          <br>
            <input type="file" id="gambarCampaign" name="image" accept="image/*">
          <br>
            <input class="button" type="submit" value="save">

        </fieldset>

      </div>

    </div>
  </form>
</body>

</html>
