<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Together We Can Menu</title>
    
    <link rel="stylesheet" href="../View/style/home.css.css">
</head>

<body>
    <h3>Silahkan Berdonasi pada Campaign Berikut :<h3>
          <div  class="campaign">
            <div id="act">
                <a href="../View/donation.html"> <img src="../View/style/apd.jpg"></a>
            </div>

            <div id="act">
                <a href="../View/donation.html"> <img src="../View/style/ojol.png"></a>
            </div>
          </div>
</body>

</html>