<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Together We Can Login</title>

    <link rel="stylesheet" href="../View/style/loginStyle.css">



  </head>

  <body>

    <div class="input-group">
      <label id="label-1">Username</label>
      <input onkeyup="checkLabel('label-1',this)" onkeydown="checkLabel('label-1',this)"
      id="input-1" type="text" name="name" required>
    </div>
    <br>
    <input type="submit" value="Login">

    <script src="../View/style/Script/login.js"></script>
  </body>
</html>
